:root {
  --background: #fff;
  --foreground: #000;
  --unfocused-border-color: #eaeaea;
  --focused-border-color: #666;

  --button-disabled-color: #fafafa;
  --disabled-text-color: #999;

  --geist-border-radius: 5px;
  --geist-quarter-pad: 6px;
  --geist-half-pad: 12px;
  --geist-pad: 24px;
  --geist-font: "Gamja Flower", "Gaegu", "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  --geist-error: #e00;

  --subtitle: #666;
}

* {
  box-sizing: border-box;
}

.cinematics {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --unfocused-border-color: #333;
    --focused-border-color: #888;
    --foreground: #fff;
    --button-disabled-color: #111;
    --geist-error: red;
    --subtitle: #8d8d8d;
  }

  .cinematics {
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.15);
  }
}

html,
body {
  overflow-y: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 세로 모드일 때 경고 메시지 표시 */
@media (orientation: portrait) {
  body::before {
    content: "📱 기기를 가로로 회전해주세요";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #00FFAA, #00e699);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    z-index: 9999;
    font-family: var(--geist-font);
  }

  body>*:not(script) {
    display: none !important;
  }
}

/* 가로모드에서 스크롤 방지 및 화면 고정 */
@media (max-height: 500px) and (orientation: landscape) {

  html,
  body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0;
    padding: 0;
    /* 앱 배경 */
  }

  #__next {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: inherit;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

body {
  background-color: var(--background);
  font-family: var(--geist-font);
}

input {
  border: 1px solid var(--unfocused-border-color);
  transition: border-color 0.15s ease;
  outline: none;
}

input:focus {
  border-color: var(--focused-border-color);
}