:root {
  --background: #fff;
  --foreground: #000;
  --unfocused-border-color: #eaeaea;
  --focused-border-color: #666;

  --button-disabled-color: #fafafa;
  --disabled-text-color: #999;

  --geist-border-radius: 5px;
  --geist-quarter-pad: 6px;
  --geist-half-pad: 12px;
  --geist-pad: 24px;
  --geist-font: "Gamja Flower", "Gaegu", "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  --geist-error: #e00;

  --subtitle: #666;
}

* {
  box-sizing: border-box;
}

.cinematics {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --unfocused-border-color: #333;
    --focused-border-color: #888;
    --foreground: #fff;
    --button-disabled-color: #111;
    --geist-error: red;
    --subtitle: #8d8d8d;
  }

  .cinematics {
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.15);
  }
}

html,
body {
  overflow-y: hidden;
  height: 100%;
}

/* 가로모드에서 스크롤 방지 및 화면 고정 */
@media (max-height: 500px) and (orientation: landscape) {

  html,
  body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
  }

  #__next {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

body {
  background-color: var(--background);
  font-family: var(--geist-font);
}

input {
  border: 1px solid var(--unfocused-border-color);
  transition: border-color 0.15s ease;
  outline: none;
}

input:focus {
  border-color: var(--focused-border-color);
}